<div class="blog-right">

  <div class="sidebar-block">
    <h3>Categories</h3>
    <ul>
      <li><a href="#">Web Design</a><span class="pull-right">48</span></li>
      <li><a href="#">Featured Blog</a><span class="pull-right">66</span></li>
      <li><a href="#">Photography Idea</a><span class="pull-right">32</span></li>
      <li><a href="#">Design Tutorials</a><span class="pull-right">16</span></li>
      <li><a href="#">News and Events</a><span class="pull-right">25</span></li>
      <li><a href="#">Arts and Entertainment</a><span class="pull-right">38</span></li>
    </ul>
  </div>
  <div class="sidebar-block">
    <h3>Tags Cloud</h3>
    <div class="tagcloud"> <a href="javascript:void(0)">Advertisement</a> <a href="javascript:void(0)">Fashion</a> <a href="javascript:void(0)">Forest</a> <a href="javascript:void(0)">Nature</a> <a href="javascript:void(0)">Photo</a> <a href="javascript:void(0)">Portrait</a> <a href="javascript:void(0)">Sea</a> <a href="javascript:void(0)">Sky</a> <a href="javascript:void(0)">Wordpress</a> </div>
  </div>

</div>
