<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="blog">
    <div id="container" class="container">
      <!-- Left Menu / Logo-->
      {% include left.html %}
      <div class="blog-main">
        <div class="blog-left blog-listing">
          {{ content }}

        </div>
        <!-- {% include right.html %} -->
        <div class="blog-right">
          <div class="sidebar-block">
            <h3>Categories</h3>
            <ul>
              {% for cat in site.categories %}
                <li><a href="#">{{cat[0]}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
